.wrapper {
	padding: 40px 144px 100px 144px;
	width: 1900px;
	min-height: 1000px;
	margin: 0 auto;
	background: rgba(83, 141, 255, 0.05);
}

.h2 {
	text-align: center;
}

.p {
	margin-top: 35px;
	text-align: justify;
}

.icon {
	width: 1126px;
	height: 404px;
	display: block;
	margin: 0 auto;
	margin-top: 65px;
}