.wrapper {
	display: flex;
	gap: 10px;
}

.button {
	width: 170px;
	height: 53px;
	background: var(--orange-light);
	border: none;
	border-radius: 13px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	text-align: left;
	cursor: pointer;
	padding: 15px 8px;
	transition: 0.7s all;
}

.button2 {
	padding-left: 25px;
}

.state {
	width: 38px;
	height: 39px;
	background: #FFFFFF;
	border: none;
	border-radius: 10px;
	color: var(--black);
	margin: 9px 7px 9px 15px;
	padding: 7px 12px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	cursor: pointer;
}

.state2 {
	margin-left: 15px;

}

.button:hover {
	background: var(--orange);
}
